<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">NPM Commands</h6>
                </div>
                <div class="card-body">
                    <h1 class="text-danger">Angular cli</h1>
                    <table class="table table-bordered">
                        <tr>
                            <td>npm install -g @angular/cli</td>
                            <td>install angular cli</td>
                        </tr>
                        <tr>
                            <td>ng help</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ng new</td>
                            <td>create project <code>Exemple</code> ng new my-app</td>
                        </tr>
                        <tr>
                            <td>ng serve -o</td>
                            <td>run project to browser</td>
                        </tr>

                        <tr>
                            <td>ng g c</td>
                            <td>create new component <code>Exemple</code> ng g c my-component</td>
                        </tr>
                        <tr>
                            <td>ng build</td>
                            <td>development build</td>
                        </tr>
                        <tr>
                            <td>ng build --prod</td>
                            <td>production build minified, optimized, cache busting</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">angular-cli-ghpages</h6>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            <td>npm</td>
                            <td>npm install -g angular-cli-ghpages</td>
                        </tr>
                        <tr>
                            <td>ng</td>
                            <td>ng build --prod --base-href "https://username.github.io/repository"</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>