<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Login</h6>
                </div>
                <div class="card-body">
                    <div class="hero">
                        <div class="form-box">

                            <div class="button-box">
                                <div id="btn"></div>
                                <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                                <button type="button" class="toggle-btn" onclick="register()">Register</button>
                            </div>

                            <div class="social-icons">
                                <a href="https://www.facebook.com/abdellah.essordo" target="_blank">
                                    <img src="fb.png">
                                </a>
                                <img src="tw.png">
                                <img src="gp.png">
                            </div>

                            <form id="login" class="input-group">
                                <input type="text" class="input-field" placeholder="User Id" required>
                                <input type="text" class="input-field" placeholder="Enter Password" required>
                                <input type="checkbox" class="check-box"><span>Remember Password</span>
                                <button type="submit" class="submit-btn">Log in</button>
                            </form>

                            <form id="register" class="input-group">
                                <input type="text" class="input-field" placeholder="User Id" required>
                                <input type="email" class="input-field" placeholder="Email Address" required>
                                <input type="text" class="input-field" placeholder="Enter Password" required>
                                <input type="checkbox" class="check-box"><span>I agree to the terms & conditions</span>
                                <button type="submit" class="submit-btn">Register</button>

                            </form>
                        </div>
                    </div>

                    <script>
                        var x = document.getElementById("login");
                        var y = document.getElementById("register");
                        var z = document.getElementById("btn");

                        function register() {
                            x.style.left = "-400px";
                            y.style.left = "50px";
                            z.style.left = "110px";
                        }

                        function login() {
                            x.style.left = "50px";
                            y.style.left = "450px";
                            z.style.left = "0";
                        }

                    </script>


                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Sigup</h6>
                </div>
                <div class="card-body">
                    <form action="/action_page.php" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="uname">Username:</label>
                            <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname"
                                required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password"
                                name="pswd" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember" required> I agree on
                                blabla.
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Check this checkbox to continue.</div>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                    <script>
                        // Disable form submissions if there are invalid fields
                        (function () {
                            'use strict';
                            window.addEventListener('load', function () {
                                // Get the forms we want to add validation styles to
                                var forms = document.getElementsByClassName('needs-validation');
                                // Loop over them and prevent submission
                                var validation = Array.prototype.filter.call(forms, function (form) {
                                    form.addEventListener('submit', function (event) {
                                        if (form.checkValidity() === false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add('was-validated');
                                    }, false);
                                });
                            }, false);
                        })();
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>