<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Framework</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Langages</th>
                            <th>Framework</th>
                            <th>Definition</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JavaScript</td>
                            <td>
                                <ul>
                                    <li>jQuery</li>
                                    <li>NodeJS</li>
                                    <li>Angular JS</li>
                                    <li>Angular</li>
                                    <li>React JS</li>
                                    <li>Vue JS</li>
                                    <li>MeteorJS</li>
                                    <li>EmberJS</li>
                                    <li>NuxtJS</li>
                                    <li>JSON</li>
                                    <li>Ajax</li>
                                </ul>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>css</td>
                            <td>
                                <ul>
                                    <li>Bootsrap</li>
                                    <li>less CSS Preprocessor</li>
                                    <li>sass CSS Preprocessor</li>
                                </ul>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>php</td>
                            <td>
                                <ul>
                                    <li>Laravel</li>
                                    <li>CakePHP</li>
                                    <li>Symfony</li>
                                    <li>Phalcon</li>
                                </ul>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>python</td>
                            <td>
                                <ul>
                                    <li>Django</li>
                                    <li>Flask</li>
                                    <li>Jedi</li>
                                    <li>Pyramid</li>
                                </ul>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>kotlin</td>
                            <td>
                                <ul>
                                    <li>Ktor</li>
                                    <li>Vertx</li>
                                    <li>Spring</li>
                                </ul>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Swift</td>
                            <td>
                                <ul>
                                    <li>Ktor</li>
                                    <li>Cloudkit</li>
                                </ul>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Golang</td>
                            <td>
                                <ul>
                                    <li>Rebel</li>
                                    <li>Beego</li>
                                </ul>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>