<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Windows PowerShell commands</h6>
                </div>
                <div class="card-body">
                    <h1 class="text-danger">1 : Directories & Files</h1>
                    <table class="table table-bordered">
                        <tr>
                            <td>--help</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>cd</td>
                            <td>change directories</td>
                        </tr>
                        <tr>
                            <td>cd ../</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>cd ..</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>cd /</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>mkdir</td>
                            <td>create directories</td>
                        </tr>
                        <tr>
                            <td>dir</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ls</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>cls</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>clear</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>explorer</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>explorer .</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>touch</td>
                            <td>create file , <code>Exemple</code> touch index.txt</td>
                        </tr>
                        <tr>
                            <td>move</td>
                            <td>rename & deplace ../</td>
                        </tr>
                        <tr>
                            <td>cp -r</td>
                            <td>copy -r = recursive copy directories recursively</td>
                        </tr>
                        <tr>
                            <td>rm -r</td>
                            <td>remove -r = recursive remove directores and ther content recursively</td>
                        </tr>
                        <tr>
                            <td>rm -d</td>
                            <td>remove -d =</td>
                        </tr>
                        <tr>
                            <td>exit</td>
                            <td></td>
                        </tr>
                    </table>
                    <h1 class="text-danger">2 : cat & echo</h1>
                    <table class="table table-bordered">
                        <tr>
                            <td>echo</td>
                            <td><code>Exemple</code> echo "helo world" > text.txt</td>
                        </tr>
                        <tr>
                            <td>echo</td>
                            <td><code>Exemple</code> echo "helo world" >> text.txt</td>
                        </tr>
                        <tr>
                            <td>cat</td>
                            <td><code>Exemple</code> cat text.txt</td>
                        </tr>
                        <tr>
                            <td>cat</td>
                            <td><code>Exemple</code> cat text.txt >> text2.txt</td>
                        </tr>
                    </table>
                    <h1 class="text-danger">3 : Grep</h1>
                    <table class="table table-bordered">
                        <tr>
                            <td>grep</td>
                            <td>Search dans fille<code>Exemple</code> grep "search" text.txt</td>
                        </tr>
                        <tr>
                            <td>grep</td>
                            <td><code>Exemple</code> grep "search" -r</td>
                        </tr>
                        <tr>
                            <td>grep</td>
                            <td><code>Exemple</code> grep "search" -r -l</td>
                        </tr>
                    </table>
                    <h1 class="text-danger">4 : Comand line secrets</h1>
                    <table class="table table-bordered">
                        <tr>
                            <td>file text.txt</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>file *</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>move /?</td>
                            <td>help man</td>
                        </tr>
                        <tr>
                            <td>ctrl c</td>
                            <td>arete prossess</td>
                        </tr>
                        <tr>
                            <td>tree /a</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>osk</td>
                            <td>open clavier</td>
                        </tr>
                        <tr>
                            <td>tasklist</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>taskkill -f /pid (number de pid) fin task</td>
                        </tr>
                        <tr>
                            <td>alias</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>alias jm=jamal</td>
                        </tr>
                        <tr>
                            <td>alias /?</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ipconfig</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>msconfig</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ipconfig ! clip</td>
                            <td>copy ipconfig !/</td>
                        </tr>
                        <tr>
                            <td>whoami</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>systeminfo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td> ping jamalelkhdadi.io</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>netstat -ano</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>netstat -un</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>netsh interface tcp show global</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>netsh int tcp set global autotuninglevel=disabled</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>netsh int tcp set global autotuninglevel=normal</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>netstat -a -n -o</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">NPM Commands</h6>
                </div>
                <div class="card-body">
                    <h1 class="text-danger">Angular ng</h1>
                    <table class="table table-bordered">
                        <tr>
                            <td>ng help</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ng g c</td>
                            <td>Create component <code>Exemple</code> ng g c test</td>
                        </tr>
                        <tr>
                            <td>ng serve -o</td>
                            <td>serve application and open to browser</td>
                        </tr>
                        <tr>
                            <td>ng build --prod</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>