<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">JSON</h6>
                </div>
                <div class="card-body">
                    <ol>
                        <li>Wat is json</li>
                        <li>Easy To Use and Read</li>
                        <li>Used by most programming languages & its frameworks</li>
                        <li>you can convert json object into js object</li>
                        <li>you can convert js object into json object</li>
                        <li>API support (fb twitter github)</li>
                    </ol>
                    <h1>json is</h1>
                    <ul>
                        <li>text based format</li>
                        <li>not use end tag</li>
                        <li>can use arrays</li>
                        <li>not support comments</li>
                    </ul>
                    <h1>Syntax</h1>
                    <p>Data written inside curly braces &#123; &#125;</p>
                    <p>data contains key => value</p>
                    <p>key and value separated by colon : // key : value</p>
                    <p>key should be wrapped in double quotes // "key" : "value"</p>
                    <p>separate data by comma (,) &#123; "key" : "value" , "key" : "value"&#125;</p>
                    <p>can be written in one line or multiple lines depend on data</p>
                    <p>square brakets contains arrays [ ]</p>
                    <p>curly braces containes objects &#123; &#125;</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">JSON</h6>
                </div>
                <div class="card-body">
                    <h1>Data Type</h1>
                    <ul>
                        <li>Number</li>
                        <li>string</li>
                        <li>json object</li>
                        <li>array</li>
                        <li>Boolean true, false</li>
                        <li>Null null</li>
                    </ul>
                    <h1>Tools</h1>
                    <ol>
                        <li> json-server --wtch db.json</li>
                        <li> json editor online</li>
                        <li> myjson</li>
                        <li> json</li>
                        <li> json data url</li>
                        <li> json validator</li>
                        <li> json placeholder</li>
                    </ol>
                    <code>api.github.com/users/jamalelkhdadi/repos</code>
                </div>
            </div>
        </div>
    </div>
</div>