<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Professional websites</h6>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills flex-column">
                <br>
                <li class=" nav-item"><a class="nav-link active" href="https://github.com/jamalelkhdadi">Github</a></li>
                <li class="nav-item"><a class="nav-link" href="https://gitlab.com/jamalelkhdadi1/web">Gitlab</a></li>
                <li class="nav-item"><a class="nav-link" href="https://bitbucket.org/dashboard/projects">Bitbucket</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://www.behance.net/jamalelkhdadi1">Behance</a></li>
                <li class="nav-item"><a class="nav-link" href="https://codepen.io/jamalelkhdadi">Codepen</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="https://stackoverflow.com/users/12586453/jamal-elkhdadi">Stackoverflow</a></li>
                <li class="nav-item"><a class="nav-link" href="https://classroom.udacity.com/me">Udacity</a></li>
                <li class="nav-item"><a class="nav-link" href="https://dev.to/jamalelkhdadi/buton-181b">Dev.to</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.jsdelivr.com/">jsdelivr</a></li>
                <li class="nav-item"><a class="nav-link" href="http://myjson.com">myjson</a></li>
                <li class="nav-item"><a class="nav-link" href="https://atom.io/">atom</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="https://onsen.io/v2/api/angular1/ons-action-sheet.html">onsen</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="http://www.javadecompilers.com/">javadecompilers</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="https://next.plnkr.co/edit/?p=preview&preview">next.plnkr</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://convertio.co/png-svg/">convertio</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.flaticon.com/downloads-limit">flaticon</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://www.online-convert.com/">online-convert</a></li>
                <li class="nav-item"><a class="nav-link" href=""></a></li>
                <li class="nav-item"><a class="nav-link" href=""></a></li>
            </ul>
        </div>
    </div>
</div>