<div
  style='display:none;position:absolute;z-index:6;right:60px;height:50px;padding-top:10px;padding-right:20px;background-color:black;'
  id='googleSearch'>
  <div class='gcse-search'></div>
</div>
<div
  style='display:none;position:absolute;z-index:5;right:120px;height:57px;background-color:black;text-align:right;padding-top:15px;'
  id='google_translate_element'>
</div>
<div class="w3-bar w3-theme w3-card-2 w3-wide notranslate">
  <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 hidesm" href="javascript:void(0)" onclick="w3_open()">
    <i class="fa fa-bars text-primary"></i>
  </a>
  <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" routerLink="home">Home</a>
  <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" routerLink="nodejs">Node.js</a>
  <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" routerLink="commands">Commands</a>
  <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" routerLink="git">GIT</a>
  <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" routerLink="json">JSON</a>
  <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" routerLink="ajax"> AJAX</a>
  <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" routerLink="resources">Resources</a>
  <div class="w3-right">
    <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right" href="javascript:void(0)"
      onclick="open_search(this)" title='Search'>
      <i class='fa fa-search text-primary'></i>
    </a>
    <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right" href="javascript:void(0)"
      onclick="open_translate(this)" title='Translate'>
      <i class='fa fa-language text-primary'></i>
    </a>
    <!-- Trigger the modal with a button -->
    <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right" id="myBtn">
      <i class='fa fa-user text-primary'></i> login
    </a>
    <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right" routerLink="home">
      <i class='fa fa-home text-primary'></i>
    </a>
  </div>
</div>

<div id='myAccordion' class="w3-card-2 w3-light-grey w3-center w3-hide-large" style="display:none;cursor:default">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-xlarge w3-right">&times;</a><br>
  <div class="w3-container w3-padding-32">
    <a class="w3-button w3-block w3-large w3-wide" onclick="w3_close()" routerLink="home">Home</a>
    <a class="w3-button w3-block w3-large w3-wide" onclick="w3_close()" routerLink="commands">Commands</a>
    <a class="w3-button w3-block w3-large w3-wide" onclick="w3_close()" routerLink="git">GIT</a>
    <a class="w3-button w3-block w3-large w3-wide" onclick="w3_close()" routerLink="nodejs">Node.js</a>
    <a class="w3-button w3-block w3-large w3-wide" onclick="w3_close()" routerLink="json">JSON</a>
    <a class="w3-button w3-block w3-large w3-wide" onclick="w3_close()" routerLink="ajax">AJAX</a>
    <a class="w3-button w3-block w3-large w3-wide" onclick="w3_close()" routerLink="resources">Resources</a>
  </div>
</div>

<div id="wrapper">
  <ul class="navbar-nav text-white sidebar" style="background-color:rgb(65, 24, 107);" id="accordionSidebar">
    <br>
    <a class="nav-link text-center" href="index.html">
      <img class="img-fluid" style="width: 170px;" src="assets/img/logo.png" />
    </a>
    <b class="text-success display-5 text-center">POWER</b>
    <br>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
      Web Application
    </div>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#html" aria-expanded="true"
        aria-controls="collapseTwo">
        <i class="fa fa-folder"></i>
        <span>HTML</span>
      </a>
      <div id="html" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h5 class="collapse-header">Tutorials :</h5>
          <a class="collapse-item" routerLink="htmltags">Basic tags</a>
          <a class="collapse-item" routerLink="htmlatributs">Atributs</a>
          <a class="collapse-item" routerLink="html">HTML Tutorials</a>
          <a class="collapse-item" href="learn/html/htmlreferences.html">HTML references</a>
          <a class="collapse-item" href="learn/html/html5tutorial.html">HTML5 tutorial</a>
          <a class="collapse-item" href="learn/html/html5demo.html">HTML5 demo</a>
          <a class="collapse-item" href="learn/html/html5tools.html">HTML5 tools</a>
          <a class="collapse-item" href="learn/html/html5references.html">HTML5 references</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#css" aria-expanded="true"
        aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-folder"></i>
        <span>CSS</span>
      </a>
      <div id="css" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h5 class="collapse-header">Tutorials :</h5>
          <a class="collapse-item" routerLink="css">CSS tutorial</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#javascript" aria-expanded="true"
        aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>JavaScript</span>
      </a>
      <div id="javascript" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h5 class="collapse-header">Tutorials :</h5>
          <a class="collapse-item" routerLink="javascript">JavaScript</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#bootsrap" aria-expanded="true"
        aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Framework</span>
      </a>
      <div id="bootsrap" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h5 class="collapse-header">Tutorials :</h5>
          <a class="collapse-item" routerLink="framework">Framework</a>
          <a class="collapse-item" routerLink="bootsrap">Bootsrap</a>
          <a class="collapse-item" routerLink="jquery">jQuery</a>
          <a class="collapse-item" routerLink="angular">Angular</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#jquery" aria-expanded="true"
        aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Tools</span>
      </a>
      <div id="jquery" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h5 class="collapse-header">Tutorials :</h5>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#angular" aria-expanded="true"
        aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Technology</span>
      </a>
      <div id="angular" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h5 class="collapse-header">Tutorials :</h5>

        </div>
      </div>
    </li>
    <hr class="sidebar-divider">
  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <div class="container-fluid">
        <!-- Body -->
        <br>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<!-- Fouter -->
<div class="container-fluid text-center text-white" style="background-color: black;">
  <img style="margin-top: 15px;" src="../assets/img/logo-black.png" alt="Tutorials">
  <hr class="sidebar-divider">
  <div class="text-center">
    <div class="row">
      <div class="col-sm-6">
        <b class="text-success">&copy; Copyright 2020. All Rights Reserved.</b>
      </div>
      <div class="col-sm-6">
        <a href="https://github.com/jamalelkhdadi"><i class="fa fa-github s-midia"></i></a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://www.behance.net/jamalelkhdadi"><i class="fa fa-behance s-midia"></i></a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://www.youtube.com/channel/UCVj6YvQu1r8lMVss8i8r7Cg"><i class="fa fa-youtube s-midia"></i></a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/jamal_elkhdadi?s=09"><i class="fa fa-twitter s-midia"></i></a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://www.linkedin.com/mwlite/in/jamalelkhdadi"><i class="fa fa-linkedin s-midia"></i></a>
      </div>
    </div>
  </div>
  <div style="margin-top: 25px;">
    <a href="about/index.html" style="margin: 15px;"><i class="fa fa-home"></i>
      About us
    </a>
    <a href="about/about_terms_of_use.html" style="margin: 15px;"><i class="fa fa-asterisk"></i>
      Terms of use
    </a>
    <a href="about/about_privacy.html" style="margin: 15px;"><i class="fa fa-globe"></i>
      Privacy Policy
    </a>
    <a href="about/about_cookies.html" style="margin: 15px;"><i class="fa fa-question-circle"></i>
      Cookies Policy
    </a>
    <a href="about/tutorials_writing.html" style="margin: 15px;"><i class="fa fa-hands-helping"></i>
      Write for us
    </a>
    <a href="about/contact_us.html" style="margin: 15px;"><i class="fa fa-map-marker-alt"></i>
      Contact
    </a>
  </div>
  <br><br>
</div>