<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="m-0 font-weight-bold text-primary text-center">Introduction to DevOps - What is DevOps</h1>
        </div>
        <div class="card-body">
            <br>what is devops devops is basically a combination of tours development and
            <br>operations so what do we get when we combine these two simply speaking the
            <br>devops is a culture that implements technology in order to promote
            <br>collaboration between them elephants and operations team to deploy code to
            <br>production faster in an automated and repeatable way the goal of the Wolves is
            <br>to increase an organization speed when it comes to delivering applications and
            <br>services many companies have successfully implemented devops to
            <br>enhance their user experience let's take for example Facebook's mobile app which
            <br>is updated every two weeks effectively telling users you can have what you want
            <br>and you can have it now ever wondered how Facebook was able to do the social
            <br>smoothing it's the devops philosophy that helps Facebook and sure that it's
            <br>apps aren't outdated and that users get the best experience Facebook
            <br>accomplishes this true of code ownership model that makes its developers
            <br>responsible that includes testing and supporting through production and
            <br>delivery for each kernel of code they write and update its true policies like
            <br>this but Facebook has save love a devops culture and has successfully
            <br>accelerated its development lifecycle industries have started to gear up for
            <br>the digital transformation by shifting their means to weeks and months instead
            <br>of years while maintaining high quality as a result we will soon see that the
            <br>Bob's and juniors have more access and control of the end user than any other
            <br>person in the enterprise so what are you waiting for
            <br>don't be in the sidelines but that happens you master your skills enroll in
            <br>Eddy records DevOps certification program and become a leader until next
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="m-0 font-weight-bold text-primary text-center">CODE, IDE, CI/CD</h1>
        </div>
        <div class="card-body">
            <ul>
                <li>
                    <h1>IDE</h1>
                    <p>
                        Microsoft Visual Studio is an integrated development environment (IDE) for developing console
                        and graphical user
                        <br>interface applications along with Windows Forms or WPF applications, web sites, web
                        applications, and web services.
                    </p>
                </li>
                <li>
                    <h1>Code editor</h1>
                    <p>
                        Visual Studio Code is a code editor redefined and optimized for building and debugging modern
                        web and cloud ..
                    </p>
                    <code>IntelliSense,
                        Run and Debug,
                        Built-in Git,
                        Extensions
                    </code>
                </li>
                <li>
                    <h1>CI CD</h1>
                    <p>
                        <br>Continuous Integration vs. Continuous Delivery: There’s an Important Difference
                        <br>If you read DevOps blogs today, it can be easy to assume that Continuous Integration (CI)
                        and Continuous Delivery
                        (CD)
                        <br>are synonymous terms. People often use them that way. But that’s a mistake.
                        <br>As an example of conflation of the terms CI and CD, take this page, which purports to be a
                        “history of CI/CD tools.”
                        The
                        <br>author does provide a truly excellent history of CI platforms.
                        <br>But CI tools are the only subject that the page discusses. It’s not a history of CI and CD.
                        It’s just a history of
                        CI
                        <br>platforms. To work the history of CD into the picture would require discussion of how
                        software testing and delivery
                        <br>practices have changed over time, not just an overview of the history of CI software over
                        the past several years.
                        <br>I don’t mean to knock the page. It’s a great read, and the mistake the author makes in
                        treating CI and CD as
                        synonymous
                        <br>is hardly rare. He or she is just repeating a common confusion. You see the same lack of
                        distinction between CI and
                        CD
                        <br>on Docker’s discussion of CI/CD, for instance.
                        <br>The Difference between CI and CD
                        <br>It’s unclear how this conflation of the two terms originated. But it’s easy enough to clear
                        up.
                        <br>Simply put, CI is the process of integrating code into a mainline code base. In almost all
                        scenarios today, CI is
                        done
                        <br>using platforms designed specifically for the purpose. Implementing CI is, therefore, as
                        simple as using the right
                        tools.
                        <br>CD is more complicated. CD is about the processes that have to happen after code is
                        integrated for app changes to be
                        <br>delivered to users. Those processes involving testing, staging and deploying code. There is
                        no single type of tool
                        that
                        <br>does all these things. These processes take different forms, depending on the culture of the
                        team and the type of app it
                        is creating.
                        <br>In actuality, then, CI and CD share little in common. Besides starting with the same word
                        (“continuous”) and being
                        <br>different stages in modern software delivery pipelines, they don’t have much to do with one
                        another.
                        <br>Why the Difference Matters
                        <br>Why is it important to steer clear of this confusion? The main reason is because, by
                        conflating CI with CD,
                        <br>organizations can end up doing only the former but thinking they have implemented the
                        latter.
                        <br>Setting up a CI server such as Jenkins or Bamboo to integrate code changes continuously does
                        not mean you are doing
                        CD.
                        <br>It just means you are using a CI server.
                        <br>To get to CD, you also have to organize your software testing, staging and deployment
                        processes in a way that
                        automates
                        <br>them as much as possible and makes them continuous. Doing so requires more than simply
                        turning on a certain type of
                        tool.
                        <br>How you actually do CD is fodder for a separate, much longer article (or you could just read
                        the book about it). But
                        <br>recognizing that CI is not CD, and avoiding confusing formulations including CI/CD, is a
                        start.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>