<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Web Application</h6>
        </div>
        <div class="card-body">
            <div class="container">
                <h2>Card Image</h2>
                <p>Image at the top (card-img-top):</p>
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                        </p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
                <br>

                <p>Image at the bottom (card-img-bottom):</p>
                <div class="card" style="width:400px">
                    <div class="card-body">
                        <h4 class="card-title">Jane Doe</h4>
                        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer
                        </p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                    <img class="card-img-bottom" src="img_avatar6.png" alt="Card image" style="width:100%">
                </div>
                <h2>About Template</h2>
                <p>Being an Administrative Assistant is something that I take pride in.
                    <br>Having an opportunity to work from home and provide these services to persons internationally is
                    an
                    ideal situation.
                    <br>I am positive that tasks would be carried out successfully and efficiently on a regular basis.
                </p>
            </div>
        </div>
    </div>
</div>