<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Web Application</h6>
        </div>
        <div class="card-body">
            <div>
                <h1>youtube</h1>
                <iframe width="853" height="480" src="https://www.youtube.com/embed/MSjr6sCUniE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Langages</th>
                            <th>Type</th>
                            <th>Definition</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Langages</th>
                            <th>Type</th>
                            <th>Definition</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <!-- programming languages -->
                        <tr>
                            <td>Python</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Java</td>
                            <td></td>
                            <td>
                                <ul>
                                    <li>JDK</li>
                                    <li>JRE</li>
                                    <li>JVM</li>
                                    <li>Java FX</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>JavaScript</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>PHP</td>
                            <td></td>
                            <td>PHP:Hypertext Preprocessor</td>
                        </tr>
                        <tr>
                            <td>C#</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>C</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>C++</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Kotlin</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Visual Basic</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!--Tools & technology-->
                        <tr>
                            <td>Asp.net</td>
                            <td></td>
                            <td>Active Server Pages<br>ASP is a development framework for building web pages.</td>
                        </tr>
                        <tr>
                            <td>NPM</td>
                            <td></td>
                            <td>Node Package Manager</td>
                        </tr>
                        <tr>
                            <td>CLI</td>
                            <td></td>
                            <td>Command Line Interface</td>
                        </tr>
                        <tr>
                            <td>SVG</td>
                            <td></td>
                            <td>Scalable Vector Graphics</td>
                        </tr>
                        <tr>
                            <td>Canvas</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>CSS</td>
                            <td></td>
                            <td>Cascading StyleSheet</td>
                        </tr>
                        <tr>
                            <td>JSON</td>
                            <td></td>
                            <td>Javascript Object Notation<br>Format for sharing data between server and client</td>
                        </tr>
                        <tr>
                            <td>AJAX</td>
                            <td></td>
                            <td>Asynchronous Javascript and xml</td>
                        </tr>
                        <tr>
                            <td>SQL server</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!--git github-->
                        <tr>
                            <td>GIT</td>
                            <td></td>
                            <td>Distributed Version Control Sysrem</td>
                        </tr>
                        <tr>
                            <td>Github</td>
                            <td></td>
                            <td>Source For Project and Sources [Gitlab, Bitbucket, ... ]</td>
                        </tr>
                        <tr>
                            <td>Repository</td>
                            <td></td>
                            <td>Repo المستودع</td>
                        </tr>
                        <tr>
                            <td>Branch</td>
                            <td></td>
                            <td>قسم أو فرع</td>
                        </tr>
                        <tr>
                            <td>Local Repo</td>
                            <td></td>
                            <td>Local</td>
                        </tr>
                        <tr>
                            <td>Remote Repo</td>
                            <td></td>
                            <td>[GitHub, Gitlab, Bitbucket, Server,...]</td>
                        </tr>
                        <tr>
                            <td>Commit</td>
                            <td></td>
                            <td>Snapshot Or Checkpoint IN Your Local Repo</td>
                        </tr>
                        <tr>
                            <td>Clone</td>
                            <td></td>
                            <td>From Local Or Remote استنساخ</td>
                        </tr>
                        <tr>
                            <td>Push</td>
                            <td></td>
                            <td>Upload Local Changes To Remote</td>
                        </tr>
                        <tr>
                            <td>Pull</td>
                            <td></td>
                            <td>You Pull Changes From Remote Repo To Your Local</td>
                        </tr>
                        <tr>
                            <td>Pull Request</td>
                            <td></td>
                            <td>Tell Other About Your Changes To Pull It From Local To Remote</td>
                        </tr>
                        <!--Descriptive languages-->
                        <tr>
                            <td>SGML</td>
                            <td></td>
                            <td>Standard Generalized Markup Language</td>
                        </tr>
                        <tr>
                            <td>HTML</td>
                            <td></td>
                            <td>Hyper Text Markup Language</td>
                        </tr>
                        <tr>
                            <td>XML</td>
                            <td></td>
                            <td>Extensible Markup Language</td>
                        </tr>
                        <tr>
                            <td>XHTML</td>
                            <td></td>
                            <td>Extensible Hypertext Markup Language</td>
                        </tr>
                        <tr>
                            <td>XPATH</td>
                            <td></td>
                            <td>XPath is a major element in the XSLT standard.<br>XPath can be used to navigate
                                through elements
                                and attributes in an XML document.</td>
                        </tr>
                        <tr>
                            <td>XSL</td>
                            <td></td>
                            <td>Extensible Stylesheet Language<br>is a styling language for XML</td>
                        </tr>
                        <tr>
                            <td>SCHÉMA</td>
                            <td></td>
                            <td>An XML Schema describes the structure of an XML document.<br>The XML Schema language
                                is also
                                referred to as XML Schema Definition (XSD).</td>
                        </tr>
                        <tr>
                            <td>XAML</td>
                            <td></td>
                            <td>Extensible Application Markup Language</td>
                        </tr>
                        <tr>
                            <td>Markdown</td>
                            <td></td>
                            <td>is a lightweight markup language with plain-text-formatting syntax.
                                Its design allows it to be converted to many output formats,
                                but the original tool by the same name only supports HTML.[9]
                                Markdown is often used to format readme files,
                                for writing messages in online discussion forums,
                                and to create rich text using a plain text editor.
                            </td>
                        </tr>
                        <!--quiry languages-->
                        <tr>
                            <td>SQL</td>
                            <td></td>
                            <td>Structured Query Language</td>
                        </tr>
                        <tr>
                            <td>MySQL</td>
                            <td></td>
                            <td>Database System</td>
                        </tr>
                        <tr>
                            <td>MySQLi</td>
                            <td></td>
                            <td>Extension Connect to DB, i: For improved</td>
                        </tr>
                        <tr>
                            <td>MsSQL</td>
                            <td></td>
                            <td>Database System microsoft</td>
                        </tr>
                        <tr>
                            <td>XQuery</td>
                            <td></td>
                            <td>XQuery is to XML what SQL is to databases.<br>XQuery is designed to query XML data.
                            </td>
                        </tr>
                        <tr>
                            <td>RDBMS</td>
                            <td></td>
                            <td>Relational Database Management System</td>
                        </tr>
                        <tr>
                            <td>PDO</td>
                            <td></td>
                            <td>PHP Data Objects</td>
                        </tr>
                        <tr>
                            <td>SQL lite</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>SQL server</td>
                            <td></td>
                            <td>SQL server</td>
                        </tr>
                        <tr>
                            <td>ORACLE</td>
                            <td></td>
                            <td>Database System</td>
                        </tr>
                        <tr>
                            <td>Postgre SQL</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>WampServer</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>APACHE</td>
                            <td></td>
                            <td>Server</td>
                        </tr>
                        <!-- tools -->
                        <tr>
                            <td>VPN</td>
                            <td></td>
                            <td>Virtual Private Network</td>
                        </tr>
                        <tr>
                            <td>MVC</td>
                            <td></td>
                            <td>Model View Controller</td>
                        </tr>
                        <tr>
                            <td>CMS</td>
                            <td></td>
                            <td>Content Management System</td>
                        </tr>
                        <tr>
                            <td>SEO</td>
                            <td></td>
                            <td>Search Engine Optimization</td>
                        </tr>
                        <tr>
                            <td>FTP</td>
                            <td></td>
                            <td>File Transfer Protocol</td>
                        </tr>
                        <tr>
                            <td>CDN</td>
                            <td></td>
                            <td>Content Delivery Network</td>
                        </tr>
                        <tr>
                            <td>SVN</td>
                            <td></td>
                            <td>Sub version</td>
                        </tr>
                        <tr>
                            <td>DTD</td>
                            <td></td>
                            <td>Document type définition</td>
                        </tr>
                        <tr>
                            <td>SOC</td>
                            <td></td>
                            <td>Separation Of Conserns<small> فصل المهام </small></td>
                        </tr>
                        <tr>
                            <td>API</td>
                            <td></td>
                            <td>Application Programming Interface</td>
                        </tr>
                        <tr>
                            <td>DOM</td>
                            <td></td>
                            <td>Document object model</td>
                        </tr>
                        <tr>
                            <td>ORM</td>
                            <td></td>
                            <td>Object Relational Mapping</td>
                        </tr>
                        <tr>
                            <td>RSS</td>
                            <td></td>
                            <td>Really Simple Syndication</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>