<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Git & Github</h6>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>cd</td>
                            <td>open working directory</td>
                        </tr>
                        <tr>
                            <td>mkdir</td>
                            <td>create working directory</td>
                        </tr>
                        <tr>
                            <td>git clone</td>
                            <td>remote Repository</td>
                        </tr>
                        <tr>
                            <td>dir</td>
                            <td>chow working directory</td>
                        </tr>
                        <tr>
                            <td>git status</td>
                            <td>status working directory</td>
                        </tr>
                        <tr>
                            <td>git add</td>
                            <td>incloud to staging area</td>
                        </tr>
                        <tr>
                            <td>git reset head</td>
                            <td>remove file</td>
                        </tr>
                        <tr>
                            <td>git add *</td>
                            <td>incloud all to staging area</td>
                        </tr>
                        <tr>
                            <td>git commit -m "commit"</td>
                            <td>add to local repo</td>
                        </tr>
                        <tr>
                            <td>git pranch</td>
                            <td>master</td>
                        </tr>
                        <tr>
                            <td>git remote -v</td>
                            <td>origin</td>
                        </tr>
                        <tr>
                            <td>git push origin master</td>
                            <td>add to remote repo</td>
                        </tr>
                        <tr>
                            <td>git pull origin</td>
                            <td>merge remote repo with local repo</td>
                        </tr>
                        <tr>
                            <td>git init</td>
                            <td>initialized git repository in working directory</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"></h6>
                </div>
                <div class="card-body">
                    <ul>
                        <li>npm install -g angular-cli-ghpages</li>
                        <li>ng build --prod --base-href "https://jamalelkhdadi.github.io/power"</li>
                        <li>angular-cli-ghpages</li>
                        <li>ngh --dir=dist/power</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>